body {
  background-image: url("../../static/images/landing.jpg");
  height: 100vh;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-style {
  color: white;
  background-color: rgb(255, 255, 255, 0.2);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
